@font-face {
    font-family: Catamaran;
    src: url(assets/fonts/Catamaran/static/Catamaran-ExtraLight.ttf);
}

@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Mulish;
    src: url(assets/fonts/Mulish/static/Mulish-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.2;
}

.header-big {
    font-size: 3.5rem;
}

.header-medium {
    font-size: 2.5rem;
}

.header-small {
    font-size: 2rem;
    font-weight: 300;
}

.paragraph {
    font-family: Mulish, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.navbar {
    font-family: Lato, Helvetica, Arial, sans-serif;
    z-index: 21;
    width: 100vw;
    height: 4rem;
    line-height: 1;
    position: fixed;
    top: 0;
}

.navbar-brand {
    color: rgb(253, 204, 82);
}

.navbar-brand:hover {
    color: rgb(128,128,128);
}

.nav-link {
    color: rgb(128,128,128);
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-link:hover {
    color: rgb(253, 204, 82);
}

.navbar-toggler-menu {
    font-size: 1rem;
    color: rgb(0,0,0);
    line-height: 1.5rem;
    background-color: transparent;
    border: 2px solid rgb(211,211,211);
    border-radius: 0.25rem;
}

.section-container {
    position: relative;
    top: 0;
    padding: 6.5rem 0rem;
}

.intro-bg {
    background-image: url(assets/img/bg-pattern.png);
    background-image: url(assets/img/bg-pattern.png), linear-gradient(to right, rgb(218, 36, 49), rgb(122, 67, 151));
    background-repeat: repeat;
}

.button {
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 2px;
    border: 2px solid rgb(255, 255, 255);;
    border-radius: 30px;
    padding: 1rem 2.5rem;
}

.button:hover {
    background-color: rgb(253, 204, 82);
    border-color: rgb(253, 204, 82);
    transition-delay: 0.3s;
}

.img-phone {
    width: 45vw;
}

.img-fluid {
    width: 30vw;
}

.fa {
    background: -webkit-linear-gradient(left, rgb(178, 48, 92), rgb(169, 53, 102));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-heart {
    color: rgb(221, 76, 57);
}

.fa-brands-bg {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    opacity: 0.9;
}

.fa-brands {
    color: rgb(255, 255, 255);
}

.twitter {
    background-color: rgb(29, 161, 243);
}

.facebook {
    background-color: rgb(59, 89, 153, 0.9);
}

.googleplus {
    background-color: rgb(221, 76, 57, 0.9);
}

.twitter:hover,
.facebook:hover,
.googleplus:hover {
    opacity: 1;
}

.getstarted-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/bg-cta.jpg);
    background-size: cover;
    background-position: center;
}

.footer {
    background-color: rgb(34, 34, 34);
    font-size: 0.75rem;
    font-family: Mulish, Helvetica, Arial, sans-serif;
}

.modaldiv:hover {
    cursor: pointer;
    color: rgb(253, 204, 82);
}

@media screen and (min-width: 992px) {
    .navbar-bg {
        background-image: url(assets/img/bg-pattern.png);
        background-image: url(assets/img/bg-pattern.png), linear-gradient(to right, rgb(218, 36, 49), rgb(122, 67, 151));
        background-repeat: repeat;
    }

    .navbar-toggler-menu {
        display: none;
    }

    .nav-link {
        color: rgb(216, 191, 216);
    }

    .navbar-brand:hover,
    .nav-link:hover {
        color: rgb(255, 255, 255);
    }

    .navbar-scrolled-color {
        color: rgb(128,128,128);
    }

    .navbar-scrolled-color:hover {
        color: rgb(253, 204, 82);
    }

    .paragraph {
        font-size: 1.125rem;
    }

    .img-phone {
        width: 22vw;
        margin: 0;
    }

    .img-fluid {
        width: 12vw;
    }
}

@media screen and (min-width: 1200px) {
    .img-phone {
        width: 19vw;
    }

    .img-fluid {
        width: 10vw;
    }
}

@media screen and (min-width: 1500px) {
    .img-phone {
        width: 16vw;
    }

    .img-fluid {
        width: 8vw;
    }
}

@media screen and (min-width: 1800px) {
    .img-phone {
        width: 13vw;
    }
}